/**********************************
 Practica 0201
 Diseño de Interfaces WEB
 Desarrollo de Aplicaciones WEB
***********************************/

/* reinicio márgenes */
* { margin: 0px; padding: 0px }

body
{
	padding-top: 20px;
	background: url("./images/green_cup.png");
    font-size: 1em;     /* punto de partida de las fuentes */
}	

#header
{
    font-family: 'Exo 2', sans-serif;
	font-size: 1.4rem;
	color: white;
}

#page
{
	width: 960px;
	margin: 0 auto;
	text-align: left;
}

h1
{
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 15px center;
	padding: 15px 130px;
}

#nav
{
	font-family: 'Exo 2', sans-serif;
	font-size: 1.1rem;
	color: chocolate;
    overflow: hidden;
    margin-top: 10px;
    text-align: center; /* su contenido inline o inline-block se centrará como si de texto se tratara */
}

/* el uso de inline-block permite que lo pueda centrar */
#nav ul
{
    display: inline-block;
}

#nav ul li 
{
    list-style: none;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#nav ul li a
{
	text-decoration: none;
	color: chocolate;
}

/* por encima de los elementos de la barra de navegación -> blanco */
#nav ul li a:hover
{
	color: white;
}